@using FOAEA3.Data.Base
@using FOAEA3.Resources.Helpers

@model FOAEA3.ViewModels.MainMenuViewModel

@{
    bool userLoggedIn = (!string.IsNullOrEmpty(SessionData.FOAEAUser));
    bool currentSubmitterSelected = (!string.IsNullOrEmpty(SessionData.CurrentSubmitter));
    bool termsViewed = (SessionData.TermViewed == "TRUE");
    string userName = string.Empty;
    string currentSubmitter = string.Empty;
    int sessionLength = 15;

    if (userLoggedIn)
    {
        userName = SessionData.FOAEAUser;
        currentSubmitter = SessionData.CurrentSubmitter ?? "";
    }
}
<script>
    //session end
    var sTimeout = @sessionLength * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        window.location = "/Home/Logout/TimeOut"; //Redirect to LogOff, and then redirect to Login
    }
</script>

@if (ReferenceData.Instance().Messages.Count == 0)
{

    <style>
        li div {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            font-size: 13px;
        }

            li div a {
                text-decoration: none !important;
            }
    </style>
    @if (termsViewed && userLoggedIn && currentSubmitterSelected)
    {
        <section class="col-2 w-100 p-0">
            <!-- side menu -->

            <nav class="navbar bavbar-light p-0">
                <div class="navbar-brand m-0 mb-1 rounded" style="font-size:x-small;background-color:lightgrey; padding:4px;width:100%">
                    <strong>User Name: </strong>@userName<br />
                    <strong>Submitter: </strong>@currentSubmitter
                </div>
            </nav>
            <div class="navbar-nav" style="width:100%">

                <ul id="menu">
                    <li><div><a asp-area="Application" asp-controller="ApplicationSearch" asp-action="Index">Query, Modify Application</a></div></li>
                    <li><div>Query I01 Funds Received</div></li>
                    <li><div>Browse Summons Account</div></li>
                    <li><div>View Cancelled Applications</div></li>
                    <li><div>Application Status Report</div></li>
                    <li><div style="display:none;">-</div></li>
                    <li><div>Query, Respond to Events</div></li>
                    <li><div>BF Event</div></li>
                    <li><div style="display:none;">-</div></li>
                    <li>
                        <div>Submit Application</div>
                        <ul style="width:230px;">
                            <li><div><a asp-area="Application" asp-controller="Tracing" asp-action="Create">Tracing Application T01</a></div></li>
                            <li><div><a asp-area="Application" asp-controller="Tracing" asp-action="AffidavitIndex">Tracing Affidavit T02</a></div></li>
                            <li><div><a asp-area="Application" asp-controller="Interception" asp-action="Create">Interception Application I01</a></div></li>
                            <li><div><a asp-area="Application" asp-controller="LicenceDenial" asp-action="Create">Licencing Denial Application L01</a></div></li>
                            <li><div><a asp-area="Application" asp-controller="LicenceDenial" asp-action="AffidavitIndex">Licencing Denial Affidavit L02</a></div></li>
                            <li><div><a asp-area="Application" asp-controller="LicenceDenial" asp-action="Create">Licencing Denial Termination L03</a></div></li>
                        </ul>
                    </li>
                    <li><div>Cancel Application</div></li>
                    <li><div>Suspend Application</div></li>
                    <li><div>Transfer Application</div></li>
                    <li><div>Vary Financial Terms</div></li>
                    <li><div style="display:none;">-</div></li>
                    <li><div>Sin Verification Results</div></li>
                    <li><div>Licence Suspension History</div></li>
                    <li><div>View Trace Responses</div></li>
                    @if (currentSubmitter.IsInternalUser())
                    {
                        <li><div style="display:none;">-</div></li>
                        <li><div>Specify Other Submitter</div></li>
                    }
                    <li><div style="display:none;">-</div></li>
                    <li><div>Communicate with Others</div></li>
                    <li><div>Terms Of Reference</div></li>
                    <li><div><a asp-area="" asp-controller="Home" asp-action="ChangePasswordVerification">Change Password</a></div></li>
                    <li><div>What's New</div></li>
                    <li><div>Help</div></li>
                    <li><div><a asp-area="" asp-controller="Home" asp-action="Logout">Exit</a></div></li>
                    <li><div style="display:none;">-</div></li>
                    <li><div><a asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a></div></li>

                    @*@if (Model.UserSecurityData.IsFinancialOfficer)
        {
            <li>
                <div>Financial</div>
                <ul>
                    <li>
                        <div>Pending Menu</div>
                    </li>
                    <li>
                        <div>Batch Management</div>
                        <ul style="width:240px;">
                            <li>
                                <div>Manage Data Entry Batches</div>
                                <ul>
                                    <li><div>Create a Batch</div></li>
                                    <li><div>Update a Batch</div></li>
                                    <li><div>Search for Transactions in a Batch</div></li>
                                </ul>
                            </li>
                            <li>
                                <div>Manage Production Batches</div>
                                <ul>
                                    <li><div>Create a Batch</div></li>
                                    <li><div>Update a Batch</div></li>
                                    <li><div>Search for Transactions in a Batch</div></li>
                                </ul>
                            </li>
                            <li><div>Browse Summons Account</div></li>
                            <li>
                                <div>List/Adjust Pending Transactions</div>

                                <ul style="width:260px;">
                                    <li><div>List/Adjust Pending FA/FR Transactions</div></li>
                                    <li><div>List/Adjust Pending FT Transactions</div></li>
                                    <li><div>List/Adjust FTPEND</div></li>
                                    <li><div style="display:none;">-</div></li>
                                    <li><div>All Sources - List/Adjust Transactions</div></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><div>Restricted Option</div></li>
                </ul>
            </li>
            <li><div style="display:none;">-</div></li>
        }

        <li>
            <div>Administration</div>
            <ul>
                <li><div><a asp-area="Administration" asp-controller="Submitter" asp-action="Index">Query, Modify Submitters</a></div></li>
                <li><div>Query, Modify Users</div></li>
                <li>
                    <div>Table Maintenance (A-G)</div>
                    <ul>
                        <li><div>Activity Status</div></li>
                        <li><div>Address Type</div></li>
                        <li><div>Application Category</div></li>
                        <li><div>Application Comments</div></li>
                        <li><div>Application Life Cycle Status</div></li>
                        <li><div>Application Reason</div></li>
                        <li><div>Application Reject Reasons</div></li>
                        <li><div>Country</div></li>
                        <li><div>Document Type</div></li>
                        <li><div>Enforcement Service Category</div></li>
                        <li><div>Enforcement Services</div></li>
                        <li><div>Family Provision</div></li>
                        <li><div>Gender</div></li>
                    </ul>
                </li>
                <li>
                    <div>Table Maintenance (H-Z)</div>
                    <ul>
                        <li><div>Holdback Category</div></li>
                        <li><div>Holdback Type</div></li>
                        <li><div>Holidays</div></li>
                        <li><div>Language</div></li>
                        <li><div>Licence Request Status</div></li>
                        <li><div>Maintenance Message</div></li>
                        <li><div>Medium</div></li>
                        <li><div>Payment Period</div></li>
                        <li><div>Holdback Conditions</div></li>
                        <li><div>Provincial IntFinH</div></li>
                        <li><div>Provincial Information</div></li>
                        <li><div>Provincial Statute</div></li>
                        <li><div>Province/Territory</div></li>
                        <li><div>SIN Validation Status</div></li>
                        <li><div>SysMessages</div></li>
                        <li><div>Tracing Status</div></li>
                    </ul>
                </li>
                <li><div>Communicate with Others</div></li>
            </ul>
        </li>
        <li><div>List Adjust FT DE Pendings</div></li>
        <li><div style="display:none;">-</div></li>
        <li><div>Data Maintenance</div></li>
        <li><div style="display:none;">-</div></li>
        <li><div style="display:none;">-</div></li>
        <li><div><a asp-area="" asp-controller="Home" asp-action="SystemInfo">System Information</a></div></li>
        <li><div><a href="~/health">System Health</a></div></li>*@
                </ul>

            </div>
        </section>
    }
}