@page
@model InterceptionNewModel
@{
    int activeHldbCnd = Model.InterceptionApplication.HldbCnd.Count - 1;
    ViewData["IsCreate"] = "Y";
}

<p>Interception (Create)</p>

@await Html.PartialAsync("~/Pages/Shared/_MessagesPartial.cshtml", Model)

<form method="post" class="form-inline">
    @await Html.PartialAsync("~/Pages/Applications/_InterceptionData.cshtml", Model, ViewData)
</form>

@section Scripts {
    <script src="~/js/Applications/InterceptionNew.js"></script>
}