@page "{id}"

@using FOAEA3.Web.Helpers

@model FOAEA3.Web.Pages.Applications.InterceptionEditModel
@{
    int activeHldbCnd = 0;
    if (Model.InterceptionApplication != null)
    {
        activeHldbCnd = Model.InterceptionApplication.HldbCnd.Count - 1;
    }
    ViewData[PageModeValue.PAGE_MODE] = PageModeValue.EDIT;
}

<p>Interception (Edit)</p>

@await Html.PartialAsync("~/Pages/Shared/_MessagesPartial.cshtml", Model)

<form method="post" class="form-inline">
    @await Html.PartialAsync("~/Pages/Applications/_InterceptionData.cshtml", Model, ViewData)
</form>

@section Scripts {
    <script src="~/js/Applications/InterceptionNew.js"></script>
}