@using FOAEA3.Model

@{ 
    MessageDataList messages = ViewBag.FailureMessage;

    string multiple = "message";

    if (messages.Count > 1)
    {
        multiple += "s";
    }
}

<div class="alert-danger p-3">
    <h1>
        Application failed to start properly
    </h1>
    <div><span class="font-weight-bold">Error @multiple: </span></div>
    <ul>
        @foreach (var message in messages)
        {
            <li>@message.Description</li>
        }
    </ul>
    <br />
</div>
<br />
