<div class="alert alert-info">
    <h1 class="pl-1">System Information</h1>

    <div class="ml-3">
        <table class="table table-striped table-light">
            <tr><td class="font-weight-bold"><span>.Net Version</span></td><td>@Environment.Version</td></tr>
            <tr><td class="font-weight-bold"><span>OS Version</span></td><td>@Environment.OSVersion</td></tr>
            <tr><td class="font-weight-bold"><span>64 bit Process?</span></td><td>@Environment.Is64BitProcess</td></tr>
            <tr><td class="font-weight-bold"><span>Machine Name</span></td><td>@Environment.MachineName</td></tr>
        </table>
    </div>
</div>
<br />
<br />
