@using FOAEA3.Data.Base;
@using FOAEA3.Resources.Helpers;

@model FOAEA3.ViewModels.LicenceDenialDataEntryViewModel

@{
    bool isCreateMode = (string.IsNullOrEmpty(Model.LicenceDenial.Appl_CtrlCd));

    bool canEditCore = Model.CanEditCore;
    bool canEditCommentsAndRef = Model.CanEditCommentsAndRef;

    bool coreDisabled = false;
    bool commentsDisabled = false;
    bool refDisabled = false;
    bool applCtrlDisabled = !(Model.IsCreate);

    if (!canEditCore)
    {
        coreDisabled = true;
    }
    if (!canEditCommentsAndRef)
    {
        commentsDisabled = true;
        refDisabled = true;
    }

    Dictionary<string, string> genderChoices = new Dictionary<string, string>();
    foreach (var gender in ReferenceData.Instance().Genders)
    {
        genderChoices.Add(gender.Key, gender.Value.Description);
    }

    Dictionary<string, string> languages = new Dictionary<string, string>
{
        {"E", "English"},
        {"F", "French" }
    };

    string legalDate = Model.LicenceDenial.Appl_Lgl_Dte.ToString(DateTimeExtensions.YYYY_MM_DD);

    Dictionary<string, string> unitsOfMeasures = new Dictionary<string, string>
{
        { "Metric", "Metric" },
        { "Imperial", "Imperial"}
    };

    ViewBag.CourtValue = Model.CourtValue;
    ViewBag.ApplCtrlDisabled = applCtrlDisabled;
    ViewBag.RefDisabled = refDisabled;

    ViewBag.GenderChoices = genderChoices;
    ViewBag.CoreDisabled = coreDisabled;

    ViewBag.CommentsDisabled = commentsDisabled;
    ViewBag.IsCreateMode = isCreateMode;
    ViewBag.Declarant = Model.Declarant;
    ViewBag.LegalDate = legalDate;

    ViewBag.TablePrefix = "LicenceDenial";

}

<input type="hidden" asp-for="LicenceDenial.Appl_EnfSrv_Cd" />
@if (applCtrlDisabled)
{
    <input type="hidden" asp-for="LicenceDenial.Appl_CtrlCd" />
}

<div class=" row mt-1">
    <div class="col">L01</div>
</div>
<div class="row mb-2 text-info">
    <div class="col">APPLICATION: LICENCE DENIAL UNDER PART III OF THE FAMILY ORDERS AND AGREEMENT ENFORCEMENT ASSISTANCE ACT</div>
</div>
<div class="row mt-6 text-primary">
    <div class="col">(*indicates a required field)</div>
</div>

<partial name="_ApplicantIdentificationCore" model="Model.LicenceDenial" />

<div class="form-group form-row mb-1">
    <label for="txtEndRef" class="col-7 col-form-label text-left">Date notice sent to debtor:</label>
    <div class="input-group col-5">
        <flas-input asp-for="LicenceDenial.LicSusp_NoticeSentToDbtr_Dte" simple required disabled="refDisabled"></flas-input>
        <span class="input-group-append">
            <span class="pl-2 pr-2 badge-info rounded-right">[04]</span>
        </span>
    </div>
</div>
<div class="form-group form-row mb-1">
    <label for="txtProvince" class="col-7 col-form-label text-left">L03 Control Code:</label>
    <div class="input-group col-5">
        <span class="col-form-label col pl-2 pr-2">@Model.LicenceDenial.LicSusp_Appl_CtrlCd</span>
    </div>
</div>
<div class="form-group form-row mb-1">
    <label for="txtProvince" class="col-7 col-form-label text-left">Termination date:</label>
    <div class="input-group col-5">
        <span class="col-form-label col pl-2 pr-2">@Model.TerminationDate</span>
    </div>
</div>

<hr />

<div class="row mt-2">
    <div class="col">PART 2</div>
</div>
<div class="row text-info">
    <div class="col">DEBTOR INFORMATION</div>
</div>

<partial name="_DebtorInformationCore" model="Model.LicenceDenial" />

<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_HeightQty" size="3" no-closing></flas-input>
<flas-toggle asp-for="LicenceDenial.LicSusp_Dbtr_HeightUOMCd" form-id="[12]" single-line values="unitsOfMeasures" extra-closing></flas-toggle>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_EyesColorCd" form-id="[13]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_Brth_CityNme" form-id="[14]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_Brth_CtryCd" form-id="[15]" required size="5"></flas-input>
<flas-toggle asp-for="LicenceDenial.Appl_Dbtr_LngCd" form-id="[16]" size="3" single-line values="languages"></flas-toggle>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_LastAddr_Ln" size="5" form-id="[17]"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_LastAddr_Ln1" size="5"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_LastAddr_CityNme" required form-id="[18]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_LastAddr_CtryCd" required form-id="[18]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_LastAddr_PCd" required form-id="[19]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_LastAddr_PrvCd" required form-id="[20]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_EmplNme" form-id="[21]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_EmplAddr_Ln" form-id="[22]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_EmplAddr_Ln1" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_EmplAddr_CityNme" form-id="[23]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_EmplAddr_CtryCd" form-id="[23]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_EmplAddr_PCd" form-id="[24]" size="3"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_Dbtr_EmplAddr_PrvCd" form-id="[25]" size="3"></flas-input>

<hr />

<div class="row mt-2">
    <div class="col">PART 3</div>
</div>
<div class="row mb-4 text-info">
    <div class="col">ORDER OR PROVISION IN DEFAULT</div>
    <p>The Debtor is in default of the following order or support provision</p>
</div>

<br />
<flas-input asp-for="LicenceDenial.LicSusp_SupportOrder_Dte" form-id="[26]" size="5" placeholder="YYYY/MM/DD" disabled="coreDisabled"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_CourtNme" form-id="[27]" size="5" required disabled="coreDisabled"></flas-input>
<flas-input asp-for="LicenceDenial.Appl_Crdtr_SurNme" form-id="[28]" size="5" disabled="coreDisabled"></flas-input>
<flas-input asp-for="LicenceDenial.Appl_Dbtr_SurNme" form-id="[29]" size="5" required disabled="coreDisabled"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_NrOfPymntsInDefault" form-id="[30]" size="5" disabled="coreDisabled"></flas-input>
<flas-input asp-for="LicenceDenial.PymPr_Cd" form-id="[31]" size="5" disabled="coreDisabled"></flas-input>
<flas-input asp-for="LicenceDenial.LicSusp_AmntOfArrears" form-id="[32]" size="5" required disabled="coreDisabled"></flas-input>
<hr />

<div class="row mt-2">
    <div class="col">PART 4</div>
</div>
<div class="row mb-4 text-info">
    <div class="col">DOCUMENTS</div>
</div>

<div class="row">
    <div class="col">
        <p>This application must be accompanied by a Licence Denial Affidavit (L02).</p>
    </div>
</div>

<hr />
<div class="row mt-2">
    <div class="col">PART 5</div>
</div>
<div class="row mb-4 text-info">
    <div class="col">DECLARATION</div>
</div>
<div class="row">
    <div class="col">
        <p>I declare that the information given in this application is true and for the purpose of applying for the purpose of applying for licence denial in accordance with the <i>Family Orders and Agreements Enforcement Assistance Act</i>.</p>
    </div>
</div>

<partial name="_DeclarantAndComments" model="Model.LicenceDenial" />

<br />
<br />
