@model FOAEA3.Web.Pages.FoaeaPageModel
@{
}

@if ((Model.ErrorMessage != null) && (Model.ErrorMessage.Any()))
{
    <div id="errorMessage" class="alert alert-danger">
        <div>Error(s):</div>
        @foreach (var error in Model.ErrorMessage)
        {
            <div>@error.Description</div>
        }
    </div>
}
@if ((Model.WarningMessage != null) && (Model.WarningMessage.Any()))
{
    <div id="warningMessage" class="alert alert-warning">
        <div>Warning(s):</div>
        @foreach (var warning in Model.WarningMessage)
        {
            <div>@warning.Description</div>
        }
    </div>
}
@if ((Model.InfoMessage != null) && (Model.InfoMessage.Any()))
{
    <div id="infoMessage" class="alert alert-info">
        <div>Information:</div>
        @foreach (var info in Model.InfoMessage)
        {
            <div>@info.Description</div>
        }
    </div>
}

