#test5 {
  color: yellow; }

body {
  background-color: AliceBlue !important; }

#dbInfo {
  color: brown;
  background-color: AliceBlue; }

#test2 {
  color: purple; }

#test3 {
  color: orange; }

#test4 {
  color: blue; }
