.firstmenu {
  background-color: black;
  color: white;
  padding-bottom: 2px; }
  .firstmenu a {
    color: white; }
  .firstmenu a:hover {
    color: yellow;
    text-decoration: none; }
  .firstmenu a:visited {
    color: white;
    text-decoration: none; }

.secondmenu {
  background-color: darkgreen;
  color: white;
  padding-bottom: 2px; }
  .secondmenu a {
    color: white;
    text-decoration: none; }
  .secondmenu a:hover {
    color: yellow;
    text-decoration: none; }
  .secondmenu a:visited {
    color: white;
    text-decoration: none; }

.nav-item {
  color: white;
  background-color: darkslategray; }

.nav-item:hover {
  color: black;
  background-color: lightseagreen; }

.dropdown-item {
  font-size: small;
  color: white;
  background-color: slategray; }

.ui-menu {
  width: 100%;
  color: black;
  background-color: #f7f7f7;
  font-size: 11px; }

.ui-state-active {
  background-color: #79c9ec !important;
  color: black !important;
  border: 1px solid #448dae !important; }
