// base page attributes
$base-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
$base-font-size: 16px;
$base-line-height: 1.4375;

// background color
$bgColorDevelopment: AliceBlue;
$bgColorStaging: #ffe6ff;
$bgColorProduction: White;
