@import './variables';
@import './foaea';
@import './menus';

body {
    background-color: $bgColorProduction !important;
}

#dbInfo {
    color: darkblue;
    background-color: $bgColorProduction;
}
