@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the FileBroker Administrator</h1>
    <p>Please choose one of the following option:</p>
    <ol>
        <li>Create Outgoing File
            <ul>
                <li>Create CRA Tracing Request File</li>
                <li>Create EI Tracing Request File</li>
                <li>Create NETP Tracing Request File</li>
                <li>Create Ontario Tracing Response File</li>
                <li>Create Ontario Status File</li>
            </ul>
        </li>
        <li>Load Incoming File</li>
    </ol>
</div>
