@page
@model FOAEA3.Web.Pages.Test.Test1Model
@{
}

<form method="post">
    <div>
        <label>User Name:</label><input type="text" asp-for="LoginData.UserName" />
        <label>Password:</label><input type="password" asp-for="LoginData.Password" />
        <label>Submitter:</label><input type="text" asp-for="LoginData.Submitter" />
    </div>
    <div><input type="submit" id="btnLogin" value="Login" asp-page-handler="Login" /></div>
    <div><input type="submit" id="btnAppVersion" value="Version of Application API" asp-page-handler="GetAppAPIVersion" /></div>
    <div><input type="submit" id="btnIntVersion" value="Version of Interception API" asp-page-handler="GetIntAPIVersion" /></div>
    <div><input type="submit" id="btnVerify" value="Verify" asp-page-handler="Verify" /></div>
    <div><input type="submit" id="btnLogout" value="Logout" asp-page-handler="Logout" /></div>
</form>

<div id="Message">@Model.Message</div>
