@model FOAEA3.Model.SubmitterData

@{
    // radio button values

    Dictionary<string, string> activeChoices = new Dictionary<string, string>();
    activeChoices.Add("A", "Active");
    activeChoices.Add("I", "Inactive");

    Dictionary<string, string> languageChoices = new Dictionary<string, string>();
    languageChoices.Add("E", "English");
    languageChoices.Add("F", "French");

    // roles

    string activeSubm_EnfSrvAuth_Ind = Model.Subm_EnfSrvAuth_Ind ? "active" : string.Empty;
    string activeSubm_EnfOffAuth_Ind = Model.Subm_EnfOffAuth_Ind ? "active" : string.Empty;
    string activeSubm_SysMgr_Ind = Model.Subm_SysMgr_Ind ? "active" : string.Empty;
    string activeSubm_CourtUsr_Ind = Model.Subm_CourtUsr_Ind ? "active" : string.Empty;
    string activeSubm_AppMgr_Ind = Model.Subm_AppMgr_Ind ? "active" : string.Empty;
    string activeLimitedFinancialUser_Ind = Model.Subm_Class == "LF" ? "active" : string.Empty;
    string activeReadOnly_Ind = ((Model.Subm_Class == "RO") || (Model.Subm_Class == "R1")) ? "active" : string.Empty;

}

<div class="row mb-3 mt-2">
    <div class="col-4 ml-2 font-italic">
        <span class="text-danger">*</span><small> denotes required</small>
    </div>
</div>
<div class="row">
    <div class="col-7">

        <div class="form-row form-inline form-group">
            <label for="selectProvinces" class="col-4 col-form-label justify-content-end">@LanguageResource.PROVINCE</label>
            <div class="col-8">
                <select id="selectProvinces" name="selectProvinces" class="form-control form-control-sm"></select>
            </div>
        </div>
        <div class="form-row form-inline form-group">
            <label asp-for="EnfSrv_Cd" class="col-4 col-form-label justify-content-end"></label>
            <div class="col-8">
                <select id="selectEnfServices" name="selectEnfServices" class="form-control form-control-sm"></select>
            </div>
        </div>
        <div class="form-row form-inline form-group">
            <label asp-for="EnfOff_City_LocCd" class="col-4 col-form-label justify-content-end"></label>
            <div class="col-4">
                <select id="selectEnfOff" name="selectEnfOff" class="form-control form-control-sm"></select>
            </div>
            <div class="col-4">
                <div class="ml-md-5 ml-lg-4 ml-xl-0">
                    <label id="enfOffInfo" class="text-info text-left ml-md-5 ml-lg-0 nowrap d-inline"></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-7">
        <div class="form-row form-inline form-group">
            <label asp-for="Subm_SubmCd" class="col-4 control-label justify-content-end mt-4"></label>
            <div class="col-8 mt-4">
                <input asp-for="Subm_SubmCd" readonly class="form-control form-control-sm disabled" />
                <input name="suffixCode" id="suffixCode" class="form-control form-control-sm" />
            </div>
        </div>
    </div>
    <div class="col-5">

        <flas-toggle asp-for="ActvSt_Cd" required values="activeChoices"></flas-toggle>

    </div>
</div>
<div class="row">
    <div class="col-7">

        <flas-input asp-for="Subm_Title"></flas-input>

        <flas-input asp-for="Subm_FrstNme" required></flas-input>

        <flas-input asp-for="Subm_MddleNme" ></flas-input>

        <flas-input asp-for="Subm_SurNme" required></flas-input>

        <flas-input asp-for="Subm_Assg_Email" required></flas-input>

        <flas-input asp-for="Subm_Tel_AreaC" extra-fields="Subm_TelNr,Subm_TelEx" col-sizes="2,3,3" required></flas-input>

        <flas-input asp-for="Subm_Fax_AreaC" extra-fields="Subm_FaxNr" col-sizes="2,3" required></flas-input>

        <div class="form-row form-group mt-4">
            <div class="offset-4 col-4 justify-content-start text-left">
                <label class="control-label font-weight-bold">Duties</label>
            </div>
            <div class="offset-4 col-6 btn-group-vertical btn-group-sm btn-group-toggle" data-toggle="buttons">

                <flas-checkbox asp-for="Subm_Trcn_AccsPrvCd"></flas-checkbox>
                <flas-checkbox asp-for="Subm_Intrc_AccsPrvCd"></flas-checkbox>
                <flas-checkbox asp-for="Subm_Lic_AccsPrvCd"></flas-checkbox>
                <flas-checkbox asp-for="Subm_LglSgnAuth_Ind"></flas-checkbox>
                <flas-checkbox asp-for="Subm_Fin_Ind"></flas-checkbox>

            </div>
        </div>
    </div>
    <div class="col-5">

        <flas-toggle asp-for="Lng_Cd" required values="languageChoices"></flas-toggle>

        <div class="form-row form-group mb-5">
            <div class="offset-3 col-9">
                <label id="lblUsedBy" class="control-label justify-content-start">Used by:</label>
            </div>
            <div class="offset-4 col-8">
                <label style="color:blue;" id="usedBy"></label>
            </div>
        </div>

        <div class="form-row form-group required">
            <div class="offset-3 col-9">
                <label class="control-label justify-content-start font-weight-bold">Role</label>
            </div>
            <div class="offset-3 col-9">
                <div id="optButtons" class="btn-group-vertical d-flex btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <label class="btn @activeSubm_EnfSrvAuth_Ind btn-outline-info text-left " id="lblSubm_EnfSrvAuth_Ind">
                        <input type="radio" name="optRole" id="Subm_EnfSrvAuth_Ind" value="Subm_EnfSrvAuth_Ind" />
                        <label asp-for="Subm_EnfSrvAuth_Ind" class="pl-5"></label>
                    </label>
                    <label class="btn @activeSubm_EnfOffAuth_Ind btn-outline-info text-left " id="lblSubm_EnfOffAuth_Ind">
                        <input type="radio" name="optRole" id="Subm_EnfOffAuth_Ind" value="Subm_EnfOffAuth_Ind" />
                        <label asp-for="Subm_EnfOffAuth_Ind" class="pl-5"></label>
                    </label>
                    <label class="btn @activeSubm_SysMgr_Ind btn-outline-info text-left " id="lblSubm_SysMgr_Ind">
                        <input type="radio" name="optRole" id="Subm_SysMgr_Ind" value="Subm_SysMgr_Ind" />
                        <label asp-for="Subm_SysMgr_Ind" class="pl-5"></label>
                    </label>
                    <label class="btn @activeSubm_CourtUsr_Ind btn-outline-info text-left " id="lblSubm_CourtUsr_Ind">
                        <input type="radio" name="optRole" id="Subm_CourtUsr_Ind" value="Subm_CourtUsr_Ind" />
                        <label asp-for="Subm_CourtUsr_Ind" class="pl-5"></label>
                    </label>
                    <label class="btn @activeSubm_AppMgr_Ind btn-outline-info text-left " id="lblSubm_AppMgr_Ind">
                        <input type="radio" name="optRole" id="Subm_AppMgr_Ind" value="Subm_AppMgr_Ind" />
                        <label asp-for="Subm_AppMgr_Ind" class="pl-5"></label>
                    </label>
                    <label class="btn @activeLimitedFinancialUser_Ind btn-outline-info text-left " id="lblLimitedFinancialUser_Ind">
                        <input type="radio" name="optRole" id="LimitedFinancialUser_Ind" value="LimitedFinancialUser_Ind" />
                        <label class="pl-5">@LanguageResource.DOJ_FINANCIAL_OFFICER</label>
                    </label>
                </div>
                <div class="btn-group-vertical d-flex btn-group-sm btn-group-toggle mt-1" data-toggle="buttons">
                    <label class="btn @activeReadOnly_Ind btn-outline-info text-left " id="lblReadOnly_Ind">
                        <input type="checkbox" name="ReadOnly_Ind" id="ReadOnly_Ind" />
                        <label class="pl-5">@LanguageResource.READ_ONLY</label>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">

    <flas-comment asp-for="Subm_Comments"></flas-comment>

</div>
