@{
    ViewData["Title"] = "Submitters";
}

@section Styles {
    <environment exclude="Production,Staging">
        <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    </environment>
    <environment include="Production,Staging">
        <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    </environment>
}

<div class="container">
    <div class="row">
        <div class="col text-info"><h2>Submitters</h2></div>
    </div>
    <div class="row mb-1">
        <div class="col-3 text-right">
            <label for="selectProvinces">Select Province</label>
        </div>
        <div class="col-4">
            <select id="selectProvinces" class="form-control form-control-sm"></select>
        </div>
        <div class="offset-1 col-4">
            <label for="chkActiveOnly">Active Only?</label>
            <input type="checkbox" checked="checked" id="chkActiveOnly" />
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right">
            <label for="selectEnfOff">Enforcement Office</label>
        </div>
        <div class="col-9">
            <select id="selectEnfOff" class="form-control form-control-sm"></select>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-12">
            <a asp-area="Administration" asp-controller="Submitter" asp-action="Create" class="addNew btn btn-primary btn-sm">Add New</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="datatablesGrid">
                <thead>
                    <tr>
                        <th style="width: 70px;"></th>   <!-- Submitter Code  -->
                        <th style="width: 70px;"></th>   <!-- Office          -->
                        <th style="width: 300px;"></th>  <!-- First Name      -->
                        <th style="width: 300px;"></th>  <!-- Surname         -->
                        <th style="width: 30px;"></th>   <!-- Status          -->
                    </tr>
                </thead>
                <tbody id="submitterDataRows"></tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <a asp-area="Administration" asp-controller="Submitter" asp-action="Create" class="addNew btn btn-primary btn-sm">Add New</a>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        var actionGetProvincesURL = '@Url.Action("GetProvinces","Submitter", new { Area = "Administration" })';
        var actionGetSubmittersForProvinceURL = '@Url.Action("GetSubmittersForProvince", "Submitter", new { Area = "Administration"})';
        var actionGetEnfOffForProvinceURL = '@Url.Action("GetEnfOffForProvince", "Submitter", new { Area = "Administration"})';
        var actionEditSubmitterURL = '@Url.Action("Edit", "Submitter", new { Area = "Administration" })';
    </script>

    <environment exclude="Production,Staging">
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/js/Shared/DatatableManager.js"></script>
        <script src="~/js/Areas/Administration/Submitter/Index.js"></script>
        <script src="~/js/Areas/Administration/Submitter/Submitter.js"></script>
    </environment>
    <environment include="Production,Staging">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
       *<script src="~/js/Shared/DatatableManager.min.js"></script>
        <script src="~/js/Areas/Administration/Submitter/Index.min.js"></script>
        <script src="~/js/Areas/Administration/Submitter/Submitter.min.js"></script>
    </environment>

}
